{% extends "layout.html" %}
{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="header">
    <h1>Your Stocks</h1>
    <h2>Cash Balance:{{ cash | usd}}</h2>
</div>
<br>
<div class="section">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price per unit</th>
                <th>Holding Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd}}</td>
                <td>{{ stock.total_value | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="col-md-4">
            <!-- Container for displaying total value -->
            <!-- Card for displaying total value -->
            <div class="card" style="width: 18rem;", position: sticky; top: 0; right: 0;>
                <div class="card-body" >
                    <h5 class="card-title">Total Value</h5>
                    <p class="card-text">{{ grand_total | usd}}</p>
                </div>
        </div>
</div>

{% endblock %}